body{
    background-color: gray;
}
img{
    height: 100px;
}
span{
    color: gray;
    font-weight: lighter;
    font-size: medium;
}
.vpn{
    background-color: white;
height: 672px;
width: 344px;
border-radius: 16px;
display: inline-block;
}